/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

$small: 767px;
$large: 768px;
$extraLarge: 991px;
$tableColor: rgb(133, 249, 218);
$criteria-table-rows: 6;

section.home-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.home-banner img.headshot {
    width: 25vw;
    height: auto;
    border-radius: 1em;
    margin-bottom: 1em;
}

section.home-banner header.tagline {
    display: flex;
    flex-direction: column;
    font-size: x-large;
    font-weight: 500;
}

section.home-banner header.tagline span.tag-close {
    border-bottom: 1px solid #000;
    padding-bottom: 1em;
}

section.home-bio {
    font-size: large;
}

table.project-criteria-table {
    background-color: $tableColor;
}

table.project-criteria-table tr th:nth-child(3) {
    width: 100%;
}

table.project-criteria-table {
    @for $i from 1 through $criteria-table-rows {
        & tr.row-#{$i} {
            background-color: lighten($tableColor, 10 * $i/3);
        }
    }
}

@media (min-width: $extraLarge) {
}
@media (min-width: $large) {
}
@media (max-width: $small) {
    section.home-banner {
        flex-direction: column;
    }
    section.home-banner img.headshot {
        width: 65vw;
        margin-bottom: 1.5em;
    }
    section.home-banner header.tagline {
        width: 80vw;
        align-self: flex-start;
    }
    section.home-banner header.tagline span.tag-close {
        width: 90vw;
    }
}
// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 
