/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

$small: 767px;
$large: 768px;
$extraLarge: 991px;
$teal: rgb(133, 249, 218);
$peach: #ffb86c;
$criteria-table-rows: 6;

section.home-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.home-banner img.headshot {
    width: 25vw;
    height: auto;
    border-radius: 1em;
    margin-bottom: 1em;
}

section.home-banner header.tagline {
    display: flex;
    flex-direction: column;
    font-size: x-large;
    font-weight: 500;
}

section.home-banner header.tagline span.tag-close {
    border-bottom: 1px solid #000;
    padding-bottom: 1em;
}

section.home-bio {
    font-size: large;
}

table.project-criteria-table {
    background-color: $teal;
}

table.project-criteria-table tr th:nth-child(3) {
    width: 100%;
}

table.project-criteria-table {
    @for $i from 1 through $criteria-table-rows {
        & tr.row-#{$i} {
            background-color: lighten($teal, 10 * $i/3);
        }
    }
}

table.float-table {
    margin: 0px auto;
    width: 100%;
    height: 300px;
    cursor: pointer;
}

table.float-table tr {

    &:hover {
        background-color: $teal;
        font-size: 1.3em;
        color:lightslategrey;
    }

    & td {
        border: 0;
    }
}

td.float-table-title {
    font-size: 1.5em;
    min-width: 200px;

    & span.keychar {
        font-weight: 500;
        font-size: 1.55em;
        margin-right: 0.1em;
    }
}

td.float-table-description {
    min-width: 400px;
    width: 100%;
    font-size: 1.25em;
    font-weight: 400;
    padding: 0.5em 10px;
}

li.project-criteria-task {
    font-weight: bold;
}

ul.project-criteria-actions > li {
    font-weight: 300;
}

@media (min-width: $extraLarge) {
}
@media (min-width: $large) {
}
@media (max-width: $small) {
    section.home-banner {
        flex-direction: column;
    }
    section.home-banner img.headshot {
        width: 65vw;
        margin-bottom: 1.5em;
    }
    section.home-banner header.tagline {
        width: 80vw;
        align-self: flex-start;
    }
    section.home-banner header.tagline span.tag-close {
        width: 90vw;
    }
}
// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 
